{% extends "controls/base.html" %}

{% block center %}

    {% if validlink %}
        <br><br><br><br><br>
        <h3 align="center" class="color2">Смена пароля</h3>
        <br>
        <form class="needs-validation" action="{% url 'password_reset_confirm' uidb64={{uidb64}} token={{token}} %}" method="post" novalidate>
            {% csrf_token %}
             <div class="form-floating mb-3">
                <input name="user_password_1" type="text" class="form-control" id="user_password_1" placeholder="Пароль" required>
                <label for="user_password_1" class="form-label">Придумайте пароль</label>
                <div class="valid-feedback">Принято</div>
                <div class="invalid-feedback">Введите пароль</div>
            </div>
            <div class="form-floating mb-3">
                <input name="user_password_2" type="text" class="form-control" id="user_password_2" placeholder="Пароль" required>
                <label for="user_password_2" class="form-label">Повторите пароль</label>
                <div class="valid-feedback">Принято</div>
                <div class="invalid-feedback">Повторите пароль</div>
            </div>
            <button type="submit" value="OK" class="btn btn-primary mb-3"> Сменить пароль </button>
        </form>
        <script>
            (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                    }, false)
                })
            })()
        </script>
        {{ message }}
    {% else %}
        <h3 align="center" class="color2">Неудачная смена пароля</h3>
        <p align="center">Ссылка смены пароля некорректна либо истек срок ее действия. <br>Пожалуйста, запросите ссылку еще раз.</p>
    {% endif %}

{% endblock %}