{% extends "controls/base.html" %}

{% block title %}
    <title>Convy - Регистрация</title>
{% endblock %}

{% block center %}
    {% if user.is_authenticated %}
        <meta http-equiv="refresh" content="0;url={% url 'index' %}" />
    {% else %}
        <br><br><br><br><br>
        <h3 align="center" class="color2">Регистрация</h3>
        <br>
        <form class="requires-validation" action="registration/" method="post" novalidate>
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input name="user_name" type="text" class="form-control" id="user_name" placeholder="Адрес электронной почты" required>
                <label for="user_name" class="form-label">Ваше имя</label>
                <div class="valid-feedback">Принято</div>
                <div class="invalid-feedback">Введите имя</div>
            </div>
            <div class="form-floating mb-3">
                <input name="user_email" type="email" class="form-control" id="user_email" placeholder="Пароль" required>
                <label for="user_email" class="form-label">Адрес электронной почты</label>
                <div class="valid-feedback">Принято</div>
                <div class="invalid-feedback">Введите адрес электронной почты</div>
            </div>
            <div class="form-floating mb-3">
                <input name="user_password_1" type="text" class="form-control" id="user_password_1" placeholder="Адрес электронной почты" required>
                <label for="user_password_1" class="form-label">Придумайте пароль</label>
                <div class="valid-feedback">Принято</div>
                <div class="invalid-feedback">Введите пароль</div>
            </div>
            <div class="form-floating mb-3">
                <input name="user_password_2" type="text" class="form-control" id="user_password_2" placeholder="Пароль" required>
                <label for="user_password_2" class="form-label">Повторите пароль</label>
                <div class="valid-feedback">Принято</div>
                <div class="invalid-feedback">Повторите пароль</div>
            </div>
            <button type="submit" value="OK" class="btn btn-primary mb-3"> Зарегистрироваться </button>
            <br><p align="center" class="color3">{{message}}</p>

        </form>
        <br>
        <small><p align="center" ><a class="color3" href="{% url 'index' %}">Обратно на главную</a></p></small>
    {% endif %}
{% endblock %}