:root {
    --color1: #FFB473; /* bright */
    --color2: #FF9840; /* light */
    --color3: #A64D00; /* dark */
    }

.color1 {
    color: var(--color1)
}
.color2 {
    color: var(--color2)
}
.color3 {
    color: var(--color3)
}

.btn-primary{
    background-color: var(--color2) !important;
    border-color: var(--color1) !important;
    width:100%;
}
.btn-primary:hover{
    background-color: var(--color1) !important;
    border-color: var(--color1) !important;
}
.btn-primary:active{
    background-color: var(--color1) !important;
    border-color: var(--color1) !important;
}
btn-primary:visited{
    background-color: var(--color2) !important;
    border-color: var(--color1) !important;
}



header, footer {
    padding: 5px 0;
    }
header {
    background: var(--color1);
    background: linear-gradient(180deg, var(--color1) 0%, var(--color2) 74%);
    }
footer {
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 0;
    text-align: center;
    background: var(--color1);
    background: linear-gradient(0deg, var(--color1) 0%, var(--color2) 74%);
    }