<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/convy.css' %}">
    <title>Привет мир!</title>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-3">
                {% block head_left %}
                {% endblock %}
            </div>
            <div class="col-6">
                <h2 class="text-center text-uppercase color3"> Convy </h2>
            </div>
            <div class="col-3">
                {% block head_right %}
                {% endblock %}
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-3">
            {% block left %}
            {% endblock %}
        </div>
        <div class="col-6">
            {% block center %}
            {% endblock %}
        </div>
        <div class="col-3">
            {% block right %}
            {% endblock %}
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
             <div class="col-12">
                 1
             </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>