<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
<form action='PlusOneWord' method="GET">
    <button type="submit" name="plus_one"> Plus one random word</button>
    {{ message }}
</form>

<br> {{ offered_word  }}
<br> {{ offered_sector }}
<br> {{ offered_structure }}

<form action="answer" method="post">
    {% csrf_token %}
    <label for="answer">Your Answer:</label>
    <input id="answer" type="text" name="answer" value="{{ offered_structure }}">
    <input type="submit" value="OK">
</form>


</body>
</html>