{% extends "controls/base.html" %}

{% block title %}
    <title>Convy - Главная</title>
{% endblock %}

{% block head_right %}
    {% if user.is_authenticated %}
        <p align="right" class="color3"><small>Для выхода нажми <a class="color3" href="{% url 'logout' %}">сюда</a></small></p>
    {% else %}
    {% endif %}
{% endblock %}


{% block center %}
    {% if user.is_authenticated %}
        <br><br><br><br><br>
        <h3 align="center" class="color2">Привет, {{ user }}!</h3>
        <br>
        <h3 align="center" class="color2">Слов в словаре: {{ words_in_dict }}</h3>
        <h3 align="center" class="color2">Словарь изучен на: {{percent_of_learning}}%</h3>
        <br>
        <form action="game">
            <button type="submit" class="btn btn-primary mb-3"> Играть </button>
        </form>

    {% else %}
        <br><br><br><br><br>
        <h3 align="center" class="color2">Авторизация</h3>
        <br>
        <form action="login/" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input name="email_value" type="email" class="form-control" id="EmailValue" placeholder="Адрес электронной почты">
                <label for="EmailValue">Адрес электронной почты</label>
            </div>
            <div class="form-floating mb-3">
                <input name="password_value" type="text" class="form-control" id="PasswordValue" placeholder="Пароль">
                <label for="PasswordValue">Пароль</label>
            </div>
            <button type="submit" value="OK" class="btn btn-primary mb-3"> OK </button>
        </form>
        <p align="center" class="color2"> {{ message_auth }} </p>
        <br>
        <p align="center" ><a class="color3" href="{% url 'password_reset' %}">Забыли пароль?</a></p>
        <p align="center" ><a class="color3" href="{% url 'registration' %}">Регистрация</a></p>

    {% endif %}

{% endblock %}